.container {
  display: flex;
  justify-content: center;
  align-items: top;
  min-height: 50vh;
}
.infospace {
  display: flex;
}
.lefSideBar {
  width: 15rem;
  background-color: #2d2d33;
  backdrop-filter: blur(20px);
  border-radius: 0.6rem 0rem 0rem 0.6rem;
  color: #fff;

  border-right: 1px solid #424246;
}
.rightSideInfo {
  width: 50rem;
  background-color: #2d2d33;
  backdrop-filter: blur(20px);
  border-radius: 0rem 0.6rem 0.6rem 0rem;
  color: #fff;
  padding: 0rem 1rem 1rem 1rem;
}
.icon {
  cursor: pointer;
  padding: 1rem 0 1rem 1rem;
}
.icon:hover {
  color: #0fcfac;
}

.defaultImage {
  margin-left: 2rem;
  width: 9rem;
  height: 9rem;
  border-radius: 10rem;
}

.text_flex {
  display: flex;
  width: 100%;
  padding: 0rem 0rem 0rem 0.4rem;
  align-items: center;
}
/* .navigate {
  width: 100%;
  border: 1px solid #424246;
} */

.userEmail {
  padding: 0rem 0rem 0rem 0.4rem;
  text-align: center;
}
.userId {
  padding: 0rem 0rem 0rem 0.4rem;
  text-align: center;
}

.textOfintensity {
  text-align: center;
  margin: 0.3rem;
}
.anotherStyle {
  color: #d5d5d6;
  margin: 0rem;
}
.settingsHeader {
  text-align: center;
}
.settingsInputs {
  display: flex;
  flex-direction: column;
}

.changeUserEmail {
  background-color: #424246;
  width: 15rem;
  padding: 0.3rem;
  border-radius: 1rem;
  border: none;
}

.changeUserPassword {
  background-color: #424246;
  margin-top: 0.3rem;
  width: 15rem;
  padding: 0.3rem;
  border-radius: 1rem;
  border: none;
}

.editUser {
  display: flex;
}
.userImage {
  width: 18rem;
  height: 18rem;
  border-radius: 10rem;
}
.userEditIcon {
  position: relative;
}
.btnEdit {
  position: absolute;
  bottom: 2.6rem;
  right: 2.9rem;
}
