.wrap {
  display: flex;
  justify-content: center;
  align-items: top;
  min-height: 100vh;
}
.textSpace {
  width: 70rem;
  background-color: #2d2d33; /* Прозорий фон */
  backdrop-filter: blur(20px);
  border-radius: 0.6rem;
  color: #fff;
  padding: 30px;
}

.lessons {
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
}

.curseContainer {
  display: flex;
  flex-direction: row;

  gap: 19rem;
}
.curseName {
  text-align: center;
}

.lessonLink {
  border-bottom: 2px solid #414145;
  padding-right: 0.4rem;
}

.lessons {
  border-right: 2px solid #414145;
  border-top: 2px solid #414145;
}
