.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 80rem;
  width: 100%;
  margin: 0 auto;

  color: white;
  padding: 20px 0;
  position: relative;
}

.container {
  display: grid;
  grid-template-rows: auto auto;
  max-width: 60rem;
  width: 100%;
  text-align: center;
}

.LogoName {
  font-size: 2rem;
}

.links {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.globalLinks,
.information {
  text-align: left;
}

.globalLinksText,
.iformationText {
  font-size: 1.4rem;
  font-weight: bold;
}
.globalLinks li,
.information li {
  margin-left: -1.9rem;
}

.LogoNameSecondHalf {
  color: #0be0b8;
}

.footerName {
  font-size: 0.9rem;
}
