.wrap {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* правильніше, ніж top */
}

.textSpace {
  width: 70rem;
  background-color: #2d2d33;
  backdrop-filter: blur(20px);
  border-radius: 0.6rem;
  color: #fff;
  padding: 30px;
}

.headText {
  text-align: center;
}

.colorText {
  color: #0fcfac;
}

.catalogCurses {
  width: 25rem; /* ширший блок */
  background-color: #3e3e42;
  backdrop-filter: blur(20px);
  border-radius: 0.6rem;
  color: #fff;
  padding: 0rem 2.8rem;
  padding-top: 0;
  padding-bottom: 1rem;
  position: relative;
}

.catalogTarif {
  width: 25rem; /* ширший блок */
  background-color: #3e3e42;
  backdrop-filter: blur(20px);
  border-radius: 0.6rem;
  color: #fff;
  padding: 0rem 2.8rem;
  padding-top: 0;
  position: relative;
}

.catalogCards {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.cardNameCurses {
  background-color: #9f23e8;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
}

.cardNameTarif {
  background-color: #9f23e8;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
}

.description {
  margin-top: 5rem;
}
.Curseicons {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 1rem;
}

.sizeIcon {
  background-color: #2d2d33;
  padding: 0.4rem;
  border-radius: 1rem;
  width: 5rem;
  height: 5rem;
}
.sizeIconTariff {
  background-color: #2d2d33;
  padding: 0.4rem;
  border-radius: 1rem;
  width: 8rem;
  height: 8rem;
}
.Tarifficons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  justify-items: center;
  margin-top: 5rem;
}
