.header {
  display: flex;
  justify-content: space-between;

  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
}
.userNvigate {
  padding-top: 1rem;
  display: flex;
  margin-right: 1rem;
  font-size: 1.1rem;
  gap: 2rem;
}

.LogoName {
  margin: 0;
  padding-top: 0.4rem;
  font-size: 1.8rem;
}
.LogoNameSecondHalf {
  color: #0be0b8;
}

.logoImage {
  width: 3rem;
  height: 3rem;
}

.logoLink {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
