.profile {
  position: relative;
  display: flex;
  justify-content: center;
}
.forma {
  width: 90%;
  max-width: 20rem;
  height: 25rem;
  border-radius: 0.3rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 1rem;
  z-index: 0;
  box-sizing: border-box;
}
.mb3 {
  padding-bottom: 1rem;
}
.mb3 input {
  width: 100%;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.2rem;
  padding: 0.5rem 0rem 0.5rem 0.5rem;
  font-size: 16px;
  color: #fff;
  box-sizing: border-box;
}
.registretionText {
  text-align: center;
  font-size: 1.6rem;
}
.btnLogIn {
  font-size: larger;
  border-radius: 0.3rem;
  cursor: pointer;
  width: 100%;
  height: 2rem;
  border: none;
  color: #fff;
  background-color: #0a9c81;
}

.logoSpace {
  position: absolute;
  top: -3rem;
  left: 44.6rem;
  display: flex;
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  background-color: #45434a;
  border-radius: 3rem;
  z-index: 1;
}
.logInLink {
  color: #0a9c81;
}
