.wrap {
  display: flex;
  justify-content: center;
  align-items: top;
  min-height: 100vh;
}
.textSpace {
  width: 70rem;
  background-color: #2d2d33; /* Прозорий фон */
  backdrop-filter: blur(20px);
  border-radius: 0.6rem;
  color: #fff;
  padding: 30px;
}
.colorText {
  color: #0fcfac;
  text-align: center;
}
.firstLevel {
  color: #0fcfac;
}
.firstLevelUnderText {
  color: #c0c0c0;
}

.courseCard {
  align-items: center;
  padding: 1rem;
  /* border: 1px solid #ddd; */
  background-color: #34343a;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  width: 8rem;
}

.curseContainer {
  display: flex;
  gap: 1rem;
}

.cardsImage {
  margin-left: 1rem;
}
